
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

/* NavBar section */
header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    box-shadow: 0 0 10px #c5c2c2;
    z-index: 100;
    width: 100%;
    background-color: white;
    padding: 0 10%;
}
.navbar {
    list-style: none;
    display: flex;
    column-gap: 10px;
}

ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
    color: black;
}
main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#message-container {
  font-size: large;
  padding: 1rem;
}

.books_table {
  width: 300px;
  padding: 0.5rem;
}

.books_table td {
  font-size: large;
  font-weight: bold;
}

#add_book {
  padding: 1rem;
}

#add_book h2 {
  padding: 1rem;
  font-weight: 700;
}

input {
  padding: 0.3rem;
  margin: 10px;
}

button {
  padding: 0.5rem;
  width: 50%;
  font-weight: 600;
}
