
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

/* NavBar section */
header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    box-shadow: 0 0 10px #c5c2c2;
    z-index: 100;
    width: 100%;
    background-color: white;
    padding: 0 10%;
}
.navbar {
    list-style: none;
    display: flex;
    column-gap: 10px;
}

ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 800;
    color: black;
}

.navbar li {
    width: 100px;
}
.active {
    color: rebeccapurple;
    transform: scale(1.3);
    display: block;
  }
  .logo {
    font-size: 20px;
    font-weight: 800;
  }
.books_container {
    margin-top: 30px;
}
.books_container > div {
    background: white;
    height: 57vh;
    border-radius: 29px;
    padding: 20px;
    overflow-y: scroll;
  }

.books_container h1 {
    text-align: center;
    padding: 10px;
}

main {
    position: absolute;
    top: 60px;
    background-color: beige;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 124px);
    justify-content: center;
    align-items: center;

}

table {
    border: solid 1px #ddd;
    border-radius: 6px;
    margin-bottom: 20px;
}

.line_hd {
    background-color: rgb(100, 101, 105);
    color: white;
  }

  .line_hd:hover {
    background-color: #04aa6d;
  }
table tr {
    display: grid;
    grid-template-columns: 200px 200px 100px;
    justify-items: left;
    padding: 6px 20px 3px 10px;
    height: 30px;
}  

tr:hover {
    background-color: #e0c5c57a;
  }

  table tr:nth-child(even) {
    background-color: rgba(128, 128, 128, 0.411);
  }


  #add_book {
  
    width: 45%;
    margin-top: -100px;
    text-align: center;
  }

  .contact-us h2 {
    padding: 40px 0;
  }
  
  #add_book h2 {
    margin-bottom: 50px;
  }

input {
    width: 80%;
    margin: 10px auto;
    height: 36px;
    border-radius: 6px;
    display: block;
    padding: 8px;
    font-size: 16px;
}

form > button {
    width: 60px;
    height: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.btn:hover {
    cursor: pointer;
    background-color: orange;
  }

  /* flash messages */
#message-container {
    position: absolute;
    top: 2%;
    right: 2%;
    width: 250px;
    display: flex;
    flex-direction: column;
    animation: fade-in 3s ease;
  }

  .snakbar {
    padding: 1.5rem 1rem;
    margin: 0.5rem;
    width: 250px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    color: white;
  }

  .error {
    background-color: red;
  }
  
  .success {
    background-color: green;
  }
  
  .remove {
    background-color: orange;
  }
  
  .fadeout {
    animation: fade-out 1s ease 3s forwards;
  }

  
@keyframes fade-in {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
  }

  /* contact section */
  .contact-us {
    flex-direction: column;
    align-items: center;
    margin-top: -100px;
  }

  .contact-us p{
    padding-bottom: 20px;
  }

  .contact-us ul {
    padding-left: 60px;
  }
  
  
